/* The fonts */

.dancing-script-normal {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --main-colour: rgba(230, 83, 60, 1);
    --main-text-colour: rgba(255, 255, 255, 1);
    --p-text-colour: rgba(255, 255, 255, 0.5);
}

.body-colour{
    background-color: #111111;
}

.display-flex{
    display: flex;
}


/* The main orange button */
.btn-primary, .diff-btn{
    width: 224px;
    height: 54px;
    border-radius: 50px;
    border: none;
    background-color: var(--main-colour);
    margin-top: 30px;
    font-size: 18px;
    color: var(--main-text-colour);
    font-weight: bold;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

/* The banner transparent button */
 .diff-btn{
    background-color: transparent;
    border: 3px solid #333333;
 }


/* Header */

.bg-colour{
  background:  linear-gradient(180deg, #111111 0%, #333333 50%, #111111 100%);
  height: 716px;
  width: 100%;
  opacity: 100%;
  
}

.p-design{
    color: var(--p-text-colour);
    margin-top: 20px;
}

.h-design{
    color: var(--main-text-colour);
    font-weight: 900;
    font-size: 48px;
}

/* navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 1060px;
    width: 100%;
    height:140px;
    margin: 0 auto;
    align-items: center;
}

.nav-logo{
    font-size: 50px;
    font-weight: bolder;
    line-height: 120%;
    color: var(--main-colour);
}

.nav-list{
    width: 465px;
    height: 46px;
    display: flex;
    border: 2px solid #333333;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center; 
    border-radius: 50px;
    font-size: 18px;
    color: var(--main-text-colour);
    gap: 0px;
}

 a{
     color: var(--main-text-colour);
}

.home{
    background-color: var(--main-colour);
    border-radius: 50px;
    width: 100px;
    height: 41px;
    text-align: center;
    padding-top: 7px;
}

.menu-icon{
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.menu-icon span{
    width: 25px;
    height: 3px;
    background-color: white;
    display: block;
}

/* Banner styles */

.banner-container{
    max-width: 1060px;
    width: 100%;
    height: 575px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.banner-content{
    width: 650px;
    height: 440px;
    padding: 60px;
    
}

.banner-content h1{
    font-size: 78px;
    font-weight: 1000;
    color: var(--main-text-colour);
    line-height: 80px;
    margin-bottom: 40px;
}

.banner-content span{
    font-weight: 100;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.transparent-1{
     width: 206px;
    height: 96px;
    background-color: pink;
    margin-top: 140px;
    margin-left: 1180px;
}

/* habits section */
.habits{
    width: 1060px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}

.habits-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.habit-card img{
    border-radius: 50%;
    border: 4px solid #222222;
}

.habit-card h4{
    margin-top: 20px;
    font-size: 20px;
    color: var(--main-text-colour)
}

.run-extra-container{
    width: 1060px;
    height: 371px;
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    justify-content: space-between;
    margin: 70px auto;
    align-items: center;
    border-radius: 18px;
}

.run-extra-content{
    width: 443px;
    height: 290px;
    padding-left: 50px;
}

.run-extra-container img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    border: 1px solid  #222222;
    margin-right: 50px;
}

.excercise{
    width: 1060px;
    height: 581px;
    margin: 40px auto;
    text-align: left;
}

.img-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
}

.card{
    background-color: olivedrab;
    height: 200px;
    display: flex;
    align-items: end;
    padding: 10px;
    color: white;
    
}

.card1{
   grid-column: span 1;
   background: linear-gradient(rgba(6,255,210,0.5), rgba(6,255,210,0.5)),
    url("images/exercise1.jpg") center;
}

.card2{
    grid-column: span 2;
    background: linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)),
    url("images/exercise2.png") center;
}

.card3{
   grid-column: span 1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/exercise3.png") center;
}

.card4{
   grid-column: span 2;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/exercise4.png") center;
}

.card5{
   grid-column: span 1;
    background: linear-gradient(rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)),
    url("images/exercise5.jpg") center;
}

.card6{
    grid-column: span 1;
    background: linear-gradient(rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)),
    url("images/exercise6.jpg") center;
}



.card p{
    font-size: 20px;
    font-weight: 600;
}

.plan{
    max-width: 1050px;
    width: 100%;
    height: 650px;
    margin: 0 auto;
    text-align: center;
}

.plan-container{
    width: 100%;
    height: 500px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.plan-card{
    background-color: #222222;
    max-width: 340px;
    width: 100%;
    height: 500px;
    border-radius: 20px;
}

.plan-card img{
    width: 100%;
    height: 50%;
    border-radius: 20px;
    padding: 10px;
}

.bmi{
    width: 100%;
    height: 650px;
    text-align: center;
    margin-top: 40px;
}

.bmi-div{
    width: 100%;
    height: 486px;
    background-color: #222222;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.bmi-container{
    max-width: 1060px;
    width: 100%;
    height:400px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

.chart{
    width: 310px;
    height: 366px;
}

.calc{
    max-width: 577px;
    width: 100%;
    height: 400px;
}

table, th, td {
  border: 2px solid #333333;
  border-collapse: collapse;
  padding: 19px;
}

th{
    color: white;
}

td{
    color: var(--p-text-colour);
}

table{
    width: 100%;
    margin-top: 30px;
}

.input-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

input, select{
    padding: 20px;
    background-color: #444444;
    border: none;
    border-radius: 15px;
    color: #888888;
    font-size: 15px;
}


.team{
    max-width: 1060px;
    width: 100%;
    margin: 40px auto;
    text-align: center;
}

.team-card{
    height: 200px;
    position: relative;
    
}

.team-card h4, .team-card p{
   position: absolute;
   left: 15%;
}

.team-card h4{
    bottom: 35px;
    font-size: 20px;
    font-weight: 800;
}

.team-card p{
    bottom: 15px;
    font-size: 15px;
}

.team-card img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 23px;
    padding: 30px;
    background-color: #222222;
    margin-top: 40px;
    border-radius: 20px;
}



.card-style{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer{
    width: 100%;
    background-color: #222222;
    padding: 40px;
}

.footer-container{
    max-width: 1060px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
}

.get-started1, .get-started2{
    padding: 10px;
}

#li-top{
    color: var(--main-text-colour);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.li-p{
    margin-bottom: 10px;
    color:var(--p-text-colour);
}

/* Responsive */
@media screen and (max-width: 576px) {

    * {
       box-sizing: border-box;
       padding: 0;
       margin: 0;
       /* outline: 1px solid red; */
      }

    /* For header part */
    .nav-list{
        width: 100%;
        display: none;
    }

    .menu-icon{
        display: flex;
        margin-right: 40px;
    }

    .nav-logo{
        margin-left: 30px;
    }
    .banner-container{
        width: 100%;
        max-width: 100%;
        flex-direction: column;
        margin: 0 auto;
    }
    .banner-content{
        max-width: 100%;
        margin: 0 ;
        padding-left: 30px;
    }
    .banner-content h1{
        font-size: 40px;
    }

    .h-design{
        font-size: 40px;
    }

    .btn-container{
        display: flex;
        gap: 10px;
    }

    .banner-container img{
        max-width: 100%;
        height: auto;
        margin: 10px auto;
    }

    .habits{
        width: 100%;
        margin-top: 460px;
    }
    .habits-container, .run-extra-container{
        flex-direction: column;
    }

    .habit-card p{
        margin-bottom: 20px;
    }

    .run-extra-container{
        width: calc(100% - 50px);
        height: 650px;
        margin-top: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .run-extra-content{
        margin-right: 25px;
    }

    .excercise{
        width: 100%;
        margin-top: 60px ;
        padding: 20px;
        
    }

    .img-container{
       grid-template-columns: repeat(2, 1fr);
    }

    .card{
        grid-column: span 1;
    }

    .plan{
    margin: 340px auto;
   }

    .plan-container{
        grid-template-columns: 1fr;
        gap: 20px;
        justify-items: center;
    }

    .bmi{
        margin-top: 1100px;
        width: 100%;
    }

    .bmi-container{
        flex-direction: column;
    }

    .bmi-div{
        height: 890px;
    }

    .chart{
        margin-left: 50px;
    }
   
    .calc{
        width: 100%;
        margin-top: 40px;
    } 

    input, select{
        width: 90%;
    }

    .team{
        margin-top: 450px;
    }

    .team-img-container{
       grid-template-columns: repeat(1, 1fr);
       margin-left: 40px;
       margin-right: 40px;
    }
}